@import "styles/variables";
@import "styles/global";
@import "styles/nav";
@import "styles/buttons";
@import "styles/steps";
@import "styles/address";
@import "styles/shipping";
@import 'styles/footer';
@import 'styles/carousel';
@import 'styles/icons';
@import 'styles/layout';
@import 'styles/payment';
@import 'styles/form';
h2{
	  font-size: 24px;
  font-weight: bold;
 margin-left: 250px;
}