$color_1: #fff;
$color_4: rgb(220, 220, 220);
$color_7: floralwhite;
$color_8: #FF4FF3;
$color_9: #A9A0B2;
$color_10: #03DABA;
$color_11: #FF4545;
$color_13: #dfd6e6;
$color_14: rgba(255, 255, 255, 0.7);

$font-family_1: 'Outfit', sans-serif;
$font-family_2: 'Roboto', sans-serif;
$font-family_3: 'Arial', sans-serif;

$background-color_1: #151343;
$background-color_2: #281549;
$background-color_3: rgba(166, 115, 239, 0.5);
$background-color_4: transparent;
$background-color_5: rgba(168, 123, 230, 0.681);
$background-color_6: #0b0423;
$background-color_7: linear-gradient(to right, #FF4FF3, #832EFF);

