$primary-color: #4B0082;
$secondary-color: #8A2BE2;
$gradient-bg: linear-gradient(135deg, $primary-color, $secondary-color);
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Outfit', sans-serif;
$button-gradient: linear-gradient(to right, #832EFF 0%, #FF4FF3 100%);
